@{
    ViewBag.Title = "Home Page";
}
<section class="tab-part">
    <div class="container">
        <div class="img-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tab-content">
                        <div class="headding">
                            <a href="javascript:void(0);" class="sign_link" onclick="AddEditCar('0','');">
                                <h3>Add New Car</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollbox">
            <div id="responsiveTabsDemo" class="r-tabs">
                <div class="search">
                    <input type="text" placeholder="Search Cars (By Brand or Model Name)" class="searchbox" id="txtCarSearch" name="txtCarSearch" />
                </div>
                <div class="r-tabs-panel r-tabs-state-active" style="background-color: #f9f9f9 !important;">
                    <div class="tab-inner" id="tab_CarsList">
                        @Html.Action("CarList", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


